@import 'fonts.css';
@import 'typography.css';

.aside {
	border-left: 3px solid #C0C0C0;
	color: #505050;
	float: right;
	margin: 0 -30% .2em 1em;
	padding-left: 1em;
	text-align: left;
	width: 60%;
}
.aside>p {
	margin-top: 0;
	text-align: inherit;
}
body {
	margin: 0;
	padding: 0;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
.content,
.footer {
	padding: 0 4em;
	max-width: 40em;
}
.downloads {
	background: transparent url(../images/icon_download.png) no-repeat scroll 0 42px;
	padding-left: 28px;
}
.download-zip {
	background: transparent url(../images/sprite_download.png) no-repeat scroll 0 -70px;
	display: inline-block;
	padding-top: 70px;
	vertical-align: bottom;
	width: 92px;
}
.download-zip:active,
.download-zip:focus,
.download-zip:hover {
	background-position: 0 0;
}
.footer {
	margin: 1em 0;
	text-align: center;
}
.header {
	background-color: #000;
	color: #fff;
	padding: .5em 4em;
	margin-bottom: 3em;
}
.info {
	background-color: #CEE6FF;
	border: 0 solid #00A1FF;
	border-bottom-width: 1px;
	border-top-width: 1px;
	margin: 1em 0;
	padding: 0 1em;
}
.logo {
	margin: 0;
}
.logo a {
	color: inherit;
	text-decoration: none;
}
.logo a em {
	font-size: .5em;
	font-style: normal;
	font-weight: normal;
}
.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav-horizontal {
	background-color: #404040;
	border: 1px solid #909090;
	border-radius: 8px;
	margin-left: -9px;
	margin-top: -1em;
	position: relative;
	top: 1.4em;
	width: 722px;
}
.nav-horizontal li {
	float: left;
}
.nav-horizontal li>a {
	color: inherit;
	border: 0 solid #fff;
	border-left-width: 1px;
	display: block;
	padding: 3px 8px;
	text-decoration: none;
}
.nav-horizontal li:first-child>a {
	border-left-width: 0;
}
.nav-secondary {
	border-left: 6px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	float: right;
	padding: 0 0 .33em 1em;
	margin-right: -19em;
	width: 15em;
}
.nav-secondary h2 {
	font-size: 1em;
	margin: 0;
}
.nav-secondary ul {
	font-size: .8em;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav-secondary ul li {
	line-height: normal;
}
.pagination {
	border-top: 1px solid #d0d0d0;
	list-style-type: none;
	margin: 1em 0;
	padding: 1em 0 0 0;
	text-align: center;
}
.pagination li {
	display: inline-block;
}
.pagination li.pagination-back {
	float: left;
}
.pagination li.pagination-next {
	float: right;
}
.pagination a,
.pagination span {
	border-radius: 6px;
	display: inline-block;
	padding: 4px 8px;
}
.posts {
	list-style-type: none;
	margin: 1em 0;
	padding: 0;
}

@media screen and (max-width: 800px) {
	.aside {
		float: none;
		margin: 1em;
		width: auto;
	}
	.content,
	.header {
		padding-left: 1em;
		padding-right: 1em;
	}
	.nav-horizontal {
		display: block;
		margin-top: 0;
		top: 0;
		width: auto;
	}
	.nav-horizontal li {
		float: none;
	}
	.nav-horizontal li>a {
		border-width: 0;
		border-bottom-width: 1px;
	}
	.nav-horizontal li:last-child>a {
		border-bottom-width: 0;
	}
	.nav-secondary {
		border-left-width: 0;
		float: none;
		font-size: 1em;
		margin: 1em 0;
		padding: 0 0 2em 0;
		width: auto;
	}
	.nav-secondary a {
		border: 1px solid #0036BF;
		border-radius: 12px;
		display: block;
		padding: 1em;
		margin: .5em 0;
	}
	.pagination {
		font-size: 1.25em
	}
	pre {
		width: auto;
	}
}